{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}


{% block main %}
    <div class="container my-container">
        <div class="row main">
            <section class="col-md-9 .col-xs-12 content">
                <div class="panel panel-default">
                    <div class="header topic-detail">
                        <span class="topic_full_title">
                            {% if topic.is_top %}
                                <span class="put_top">置顶</span>
                            {% endif %}
                            {{ topic.title }}</span>
                        <div class="changes">
                            <span>发布于{{ topic.create_time }}</span>
                            <span>作者 <a
                                    href="{% url 'user:info' topic.author.id %}">{{ topic.author.nick_name }}</a></span>
                            <span>{{ topic.click_nums }} 次浏览</span>
                            <span> 来自 {{ topic.category.name }}</span>
                            {% if request.user.is_authenticated %}
                                <button class="btn btn-success pull-right" type="button" id="fav_btn" value="">
                                    {% if has_fav %}已收藏{% else %}收藏{% endif %}
                                </button>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <button style="margin-right: 20px" class="btn btn-success pull-right" type="button"
                                        id="top_btn" value="">
                                    {% if topic.is_top %}已置顶{% else %}置顶{% endif %}
                                </button>
                            {% endif %}
                        </div>
                        <div class="manage_topic">
                            {% if request.user.is_superuser or request.user.id == topic.author.id %}
                                <a href="{% url 'topic:create' %}?id={{ topic.id }}">
                                    <i class="glyphicon glyphicon-pencil" title="编辑"></i></a>
                                <a href="javascript:;" class="delete_topic_btn" delete-data="{{ topic.id }}"> <i
                                        class="glyphicon glyphicon-trash"
                                        title="删除"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body html_content render_con">{{ topic.content }}</div>
                </div>
                <div class="panel panel-default comment-list">
                    <div class="panel-heading">
                        <span class="col_fade">{{ topic.comment_nums }} 回复</span>
                    </div>
                    <div class="panel-body">
                        {% for comment in all_comments %}
                            <div class="author_content">
                                <a href="" class="user_avatar">
                                    <img src="{{ comment.user.image }}" alt="{{ comment.user.nick_name }}">
                                </a>
                                <div class="user_info">
                                    <a href="#" class="reply_author">{{ comment.user.nick_name }}</a>
                                    <a href="#" class="reply_time">{{ comment.comment_time }}</a>
                                </div>
                                <div class="action pull-right">
                                    {% if request.user.is_superuser %}
                                        <!-- 屏蔽 -->
                                        <a href="{% url 'topic:remove_comment' comment.id %}"><i
                                                class="glyphicon glyphicon-trash"></i></a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <!-- 回复 -->
                                        <a id="reply_ico{{ comment.id }}" comm_data="{{ comment.id }}"
                                           class="reply_ico"><i
                                                class="glyphicon glyphicon-share-alt"
                                                style="margin-right: 5px"></i></a>
                                    {% endif %}
                                </div>
                                <!--锚点-->
                                <a name="{{ comment.id }}"></a>
                                <div class="comment_content render_con">{{ comment.comments }}</div>
                                <div class="panel panel-default other_editor_{{ comment.id }}" style="display: none">
                                    <div class="panel-heading">
                                        <span class="col_fade">添加回复</span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="markdown_editor in_editor">
                                            <div id="comment_editor">
                                    <textarea id="editor_{{ comment.id }}" class="editor_{{ comment.id }}"
                                              name="content{{ comment.id }}" rows="10"
                                              placeholder="回复支持 Markdown 语法, 请注意标记代码" style="display: none">
                                                                   </textarea>
                                                </textarea>
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <button id="btn_comment_{{ comment.id }}" type="button"
                                                                class="btn btn-primary">回复
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="reply_content"></div>
                    </div>
                </div>

                <div class="panel panel-default comment-add" {% if not request.user.is_authenticated %}
                     style="display: none" {% endif %}>
                    <div class="panel-heading">
                        <span class="col_fade">添加回复</span>
                    </div>
                    <div class="panel-body">
                        <div class="markdown_editor in_editor">
                            <div id="comment_editor">
                                    <textarea id="editor" class="editor" name="t_content" rows="20"
                                              placeholder="文章支持 Markdown 语法, 请注意标记代码" style="display: none">
                                    </textarea>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <button id="topic_comment" type="button" class="btn btn-primary">回复</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-3 .col-xs-0 sidebar">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="col_fade">作者</span>
                    </div>
                    <div class="inner">
                        <div class="user_card">
                            <div>
                                <a class="user_avatar" href="{% url 'user:info' topic.author.id
                                 %}">
                                    <img src="{{ topic.author.image }}"
                                         title="{{ topic.author.nick_name }}">
                                </a>
                                <span class="user_name"><a class="dark"
                                                           href="{% url 'user:info' topic.author.id %}">{{ topic.author.nick_name }}</a></span>
                                <div class="board clearfix">
                                    <div class="floor">
                                        <span class="big">积分: {{ topic.author.score }} </span>
                                    </div>
                                </div>
                                <div class="space clearfix"></div>
                                <span class="signature">“{% if topic.author.signature == '' %}
                                    这家伙很懒，什么个性签名都没有留下。{% else %}{{ topic.author.signature }}{% endif %}”</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="inner">
                        <a href="{% url 'topic:create' %}" id="create_topic_btn">
                            <button class="btn btn-success">发布话题</button>
                        </a>
                    </div>
                </div>
                {% if other_topics %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="col_fade">作者其他话题</span>
                        </div>
                        <div class="inner">
                            <ul class="unstyled">
                                {% for other_topic in other_topics %}
                                    <li>
                                        <div><a class="dark topic_title" href="{% url 'topic:detail' other_topic.id %}"
                                                title="{{ other_topic.title }}">{{ other_topic.title }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if no_comment_topics %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="col_fade">无人回复的话题</span>
                        </div>
                        <div class="inner">
                            <ul class="unstyled">

                                {% for no_topic in no_comment_topics %}
                                    <li>
                                        <div><a class="dark topic_title" href="{% url 'topic:detail' no_topic.id %}"
                                                title="{{ no_topic.title }}">{{ no_topic.title }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </section>
        </div>
        <!--<div id="backtotop" style="top: 28px; right: 0px; display: block;">回到顶部</div>-->
    </div>
{% endblock %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        $(function () {
            // 渲染md文本的编辑器状态隐藏
            var simplemde = new SimpleMDE({element: $("#editor")[0], autofocus: true});
            md_content = $('.html_content').text();
            htmlText = simplemde.markdown(md_content);
            $('.html_content').html(htmlText);


            // $('.comment_content')[1].html(simplemde.markdown($('.comment_content')[1].html()));
            commont_list = $('.comment_content')
            for (var i = 0; i < commont_list.length; i++) {
                content_md = $(commont_list[i]).html()
                content_html = simplemde.markdown(content_md)
                $(commont_list[i]).html(content_html)
            }

            $('.delete_topic_btn').on('click', function () {
                alert('确认要删除吗？');
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/topic/delete/" + "{{ topic.id }}",
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == '1') {
                            alert(data.msg)
                        }
                        else if (data.status == '0') {
                            window.location.href = "{% url 'index' %}";
                        }
                    },
                });
            })

            //收藏分享
            //收藏分享
            function add_fav(current_elem, fav_id) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'topic:add_fav' %}",
                    data: {'fav_id': fav_id},
                    async: true,
                    beforeSend: function (xhr, settings) {
                        {# 提交csrf #}
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == '1') {
                            alert(data.msg)
                        } else if (data.status == '0') {
                            current_elem.text(data.msg)
                        }
                    },
                });
            }

            $('#fav_btn').on('click', function () {
                add_fav($(this), {{ topic.id }});
            });


            // 置顶与取消置顶
            function top(current_elem, top_id) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'topic:top' %}",
                    data: {'top_id': top_id},
                    async: true,
                    beforeSend: function (xhr, settings) {
                        {# 提交csrf #}
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == '1') {
                            alert(data.msg)
                        } else if (data.status == '0') {
                            current_elem.text(data.msg)
                        }
                    },
                });
            }

            $('#top_btn').on('click', function () {
                top($(this), {{ topic.id }});
            });


            // 添加评论or回复
            function add_comment(entity_id, entity_type, comments) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'topic:add_comment' %}",
                    data: {
                        'topic_id':{{ topic.id }},
                        'entity_id': entity_id,
                        "entity_type": entity_type,
                        'comments': comments
                    },
                    async: true,
                    beforeSend: function (xhr, settings) {
                        {# 提交csrf #}
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == '1') {
                            alert(data.msg);
                        } else if (data.status == '0') {
                            alert(data.msg);
                            window.location.href = "{% url 'topic:detail' topic.id %}";
                        }
                    },
                });
            }

            $('#topic_comment').on('click', function () {
                comments = simplemde.value();
                add_comment({{ topic.id }}, 1, comments)
            })

            // 回复回复的回复
            $('a[id^=reply_ico]').each(function () {
                $(this).on('click', function () {
                    id = $(this).attr('comm_data');
                    $('.other_editor_' + id).css('display', 'block');
                    var other_simplemde = new SimpleMDE({element: $("#editor_" + id)[0], autofocus: true});
                    $(this).css('display', 'none')

                    // 回复
                    $('#btn_comment_' + id).on('click', function () {
                        comments = other_simplemde.value();
                        add_comment({{ topic.id }}, 2, comments)
                    })
                })
            })
        })
    </script>
{% endblock %}
